<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Webcam Test</title>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Welcome to Recommend Songs</h1>
    <div class="container">
        <div class="main">
            <div><video id="video"></video></div>
            <button style="margin:5px;" id="start">Start</button>
            <button id="stop">Stop</button>
            <br>
            <canvas id="canvas" style="width:10px;height:10px"></canvas>
            <button id="capture">Capture</button>
            <button id="recom">Recom</button>
        </div>
        <div class="index">
            <iframe src="./music.html"></iframe>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/script.js">

</body>
</html>